# Aplicando 5
Tratamento de dados faltantes e outliers

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
prices = pd.read_csv('precos_gasolina_etanol.csv', sep=';')

prices.sample(10)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
9520,SE,SP,LIMEIRA,AUTO POSTO BY BRASIL LTDA.,09.156.786/0001-05,RUA DONA MARIA THEREZA SILVEIRA BARROS CAMARGO,1600,NaN,JARDIM SANTO ANDRE,13484-270,GASOLINA,05/04/2022,"6,798",NaN,R$ / litro,BRANCA
10241,N,PA,ANANINDEUA,LORENA COMERCIO DE PRODUTOS DE PETROLEO LTDA,06.266.344/0005-57,TRAVESSA SN-03,S/N,CONJUNTO CIDADE NOVA IV,CIDADE NOVA,67133-810,GASOLINA,05/04/2022,"7,099",NaN,R$ / litro,BRANCA
14238,SE,ES,SERRA,AUTO SERVICO GASVIX LTDA,05.684.518/0001-05,RODOVIA BR 101 NORTE,S/N,"KM 8,5",CARAPINA GRANDE,29160-042,GASOLINA,11/04/2022,"7,399",NaN,R$ / litro,VIBRA ENERGIA
5912,NE,PE,IGARASSU,CEMOPEL CM PETROLEO LTDA,69.943.686/0004-01,AVENIDA BARAO VERA CRUZ,975,NaN,CRUZ DE REBOUCAS,53610-296,ETANOL,04/04/2022,"5,399",NaN,R$ / litro,RAIZEN
25806,NE,MA,CODO,VIEIRA E MATOS LTDA,24.857.769/0001-99,AVENIDA SANTOS DUMONT,4520,NaN,SAO SEBASTIAO,65400-000,GASOLINA ADITIVADA,11/04/2022,"7,66",NaN,R$ / litro,BRANCA
26817,SE,SP,SAO PAULO,POSTO DE SERVICOS DUBLIM LTDA,31.938.633/0001-79,AVENIDA MARECHAL TITO,5350,NaN,ITAIM PAULISTA,08115-000,GASOLINA,14/04/2022,"6,699",NaN,R$ / litro,IPIRANGA
663,NE,CE,SOBRAL,V.C.EMPREENDIMENTOS LTDA,03.551.935/0002-35,AVENIDA JOSE EUCLIDES FERREIRA GOMES,30,POSTO FLASH,CORACAO DE JESUS,62043-070,ETANOL,04/04/2022,"6,199",NaN,R$ / litro,RAIZEN
11208,SE,SP,OURINHOS,AUTO POSTO MIRANTE DE OURINHOS LTDA,23.085.488/0001-00,AVENIDA LUIZ SALDANHA RODRIGUES,1560,NaN,NOVA OURINHOS,19907-510,GASOLINA,07/04/2022,"7,399",NaN,R$ / litro,IPIRANGA
29360,NE,PE,RECIFE,A. V. COMBUSTIVEIS LTDA,02.162.112/0002-55,AVENIDA DEZESSETE DE AGOSTO,2290,NaN,POCO,52060-485,ETANOL,20/04/2022,"5,799",NaN,R$ / litro,DISLUB
19291,NE,PB,JOAO PESSOA,MOTOGAS INDUSTRIA DE COMPRESSAO E COMERCIO DE ...,01.420.327/0002-66,AVENIDA EPITACIO PESSOA,3313,NaN,TAMBAUZINHO,58039-000,GASOLINA,14/04/2022,"6,96",NaN,R$ / litro,BRANCA

In [5]:
prices.shape

(54960, 16)

In [6]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54960 entries, 0 to 54959
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     54960 non-null  object
 1   Estado - Sigla     54960 non-null  object
 2   Municipio          54960 non-null  object
 3   Revenda            54960 non-null  object
 4   CNPJ da Revenda    54960 non-null  object
 5   Nome da Rua        54960 non-null  object
 6   Numero Rua         54936 non-null  object
 7   Complemento        11691 non-null  object
 8   Bairro             54787 non-null  object
 9   Cep                54960 non-null  object
 10  Produto            54960 non-null  object
 11  Data da Coleta     54960 non-null  object
 12  Valor de Venda     54960 non-null  object
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  54960 non-null  object
 15  Bandeira           54960 non-null  object
dtypes: float64(1), object(15)
memory usage: 6.7+ MB

### Pergunta 1 e 2

In [4]:
prices.isna().sum()

Regiao - Sigla           0
Estado - Sigla           0
Municipio                0
Revenda                  0
CNPJ da Revenda          0
Nome da Rua              0
Numero Rua              24
Complemento          43269
Bairro                 173
Cep                      0
Produto                  0
Data da Coleta           0
Valor de Venda           0
Valor de Compra      54960
Unidade de Medida        0
Bandeira                 0
dtype: int64

### Pergunta 3

In [7]:
prices_filtered = prices.dropna(subset=['Numero Rua', 'Bairro'])

len(prices) - len(prices_filtered)

197

### Pergunta 4

In [8]:
prices_filtered = prices.dropna(subset=['Complemento', 'Bairro'])

len(prices) - len(prices_filtered)

43297

### Pergunta 5

In [11]:
cost_of_living = pd.read_csv('costofliving.csv')

cost_of_living.sample(10)

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
269,NaN,"Leicester, United Kingdom",64.91,24.93,46.17,52.47,72.19,92.59
525,NaN,"Bogota, Colombia",27.94,11.61,20.29,24.33,21.98,26.10
351,NaN,"Phnom Penh, Cambodia",50.10,18.84,35.44,54.48,23.19,14.80
459,NaN,"Merida, Mexico",35.70,11.58,24.40,35.71,36.46,33.50
112,NaN,"Denver, CO, United States",75.16,55.36,65.88,72.13,76.59,129.98
352,NaN,"Zagreb, Croatia",49.88,17.10,34.51,42.03,40.36,55.08
100,NaN,"Tampa, FL, United States",75.83,46.37,62.02,80.03,74.23,98.28
51,NaN,"Nanaimo, BC, Canada",80.26,34.06,58.60,87.20,67.48,57.49
407,NaN,"Durban, South Africa",40.33,14.69,28.31,33.58,37.72,73.88
575,NaN,"Rawalpindi, Pakistan",20.52,4.78,13.14,18.51,16.18,22.91

In [12]:
# Calculate the mean and standard deviation
mean = cost_of_living['Rent Index'].mean()
std_dev = cost_of_living['Rent Index'].std()

# Define the lower and upper bounds using 3 sigma rule
lower_bound = mean - 3 * std_dev
upper_bound = mean + 3 * std_dev

# Filter the DataFrame to remove outliers
filtered_df = cost_of_living[(cost_of_living['Rent Index'] >= lower_bound) & (cost_of_living['Rent Index'] <= upper_bound)]

len(cost_of_living) - len(filtered_df)

8

### Pergunta 6

In [13]:
# Calculate the mean and standard deviation
mean = cost_of_living['Rent Index'].mean()
std_dev = cost_of_living['Rent Index'].std()

# Define the lower and upper bounds using 2 sigma rule
lower_bound = mean - 2 * std_dev
upper_bound = mean + 2 * std_dev

# Filter the DataFrame to remove outliers
filtered_df = cost_of_living[(cost_of_living['Rent Index'] >= lower_bound) & (cost_of_living['Rent Index'] <= upper_bound)]

len(cost_of_living) - len(filtered_df)

28

### Pergunta 7

In [14]:
from scipy import stats

# Calculate the z-scores
z_scores = stats.zscore(cost_of_living['Groceries Index'])

# Define the threshold for outliers (e.g., -3 to +3)
threshold = 3

# Filter the DataFrame to remove outliers
filtered_df = cost_of_living[(z_scores >= -threshold) & (z_scores <= threshold)]

len(cost_of_living) - len(filtered_df)

7

### Pergunta 8

In [16]:
# Calculate the first quartile (Q1) and third quartile (Q3)
Q1 = cost_of_living['Cost of Living Plus Rent Index'].quantile(0.25)
Q3 = cost_of_living['Cost of Living Plus Rent Index'].quantile(0.75)

# Calculate the interquartile range (IQR)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter the DataFrame to remove outliers
filtered_df = cost_of_living[(cost_of_living['Cost of Living Plus Rent Index'] >= lower_bound) & (cost_of_living['Cost of Living Plus Rent Index'] <= upper_bound)]

len(cost_of_living) - len(filtered_df)

4